@model PasswordChangeModel

@{
    Layout = null;
    ViewData["Title"] = "Olvidé mi contraseña";
}

<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta name="author" content="EGATEC Soluciones" />
    <meta name="description" content="Control de pedidos Carnicería La Esperanza" />
    <meta name="keywords" content="Pedidos, Carnicería, Esperanza, La Esperanza, Control, Carne, Bistek, Chicharrón, Puerco, Res" />
    <meta name="robots" content="index,follow" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="La Esperanza">
    <meta name="application-name" content="La Esperanza">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#000000">
    <meta name="msapplication-navbutton-color" content="#000000" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000000">
    <title>La Esperanza - @ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap" rel="stylesheet">
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body>
    <div class="d-flex container-fluid min-vh-100 align-items-center justify-content-center align-content-center">
        <form asp-antiforgery="true" method="post" asp-action="ForgotPassword" asp-controller="Account" novalidate>
            <div class="card-group card-login my-5 bg-transparent">
                <div class="card rounded-0 border-0 m-0 bg-transparent">
                    <div class="card-body d-flex align-items-center">
                        <img src="~/images/logo.png" class="img-fluid m-auto" width="256" height="256" alt="La Esperanza" />
                    </div>
                </div>
                <div class="card bg-transparent border-0 m-0 p-md-3">
                    <div class="card-body py-2 bg-transparent">
                        <h3 class="card-title text-center"><i class="fa fa-lock fa-fw"></i> Cambio de contraseña</h3>
                        <hr class="my-1" />
                        <div asp-validation-summary="All" class="alert alert-danger p-1 my-2">
                            <div class="media">
                                <i class="fa fa-exclamation-circle fa-fw fa-2x m-1"></i>
                                <div class="media-body mt-2">
                                    <p class="p-0 m-0">
                                        Revise la siguiente informaci&oacute;n:
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <p class="text-justify">
                                    Primero, para recuperar su contraseña, necesitamos identificar su usuario, ingr&eacute;seleo y de click en continuar.
                                    Si la identificaci&oacute;n es correcta, entonces se le pedir&aacute; ingresar una nueva contraseña, que ser&aacute;
                                    la que usar&aacute; para ingresar de nuevo al sistema.
                                </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group my-1">
                                <label asp-for="Username" class="sr-only"></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                                    </div>
                                    <input asp-for="Username" class="form-control" placeholder="@Html.DisplayNameFor(u=>u.Username).CapitalFirstLetter()" />
                                </div>
                            </div>
                        </div>
                        <div class="form-row @(ViewBag.ShowPassword != null ? string.Empty : "collapse")">
                            <div class="col form-group my-1">
                                <div class="input-group">
                                    <label asp-for="Password" class="sr-only"></label>
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                                    </div>
                                    <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(u=>u.Password).CapitalFirstLetter()" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="row">
                            <div class="col pr-0">
                                <a href="@Url.Action("Index","Home")" class="btn btn-danger">
                                    <i class="fa fa-times-circle"></i>
                                    Cancelar
                                </a>
                            </div>
                            <div class="col pl-0 text-right">
                                <button type="submit" class="btn btn-primary">
                                    Continuar
                                    <i class="fa fa-arrow-circle-right fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validate/localization/messages_es.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.min.js"></script>
</body>
</html>