@model IEnumerable<Orders>

@{
    ViewData["Title"] = "Pedidos cancelados";
}

<div class="container-fluid p-2 p-md-4">
    <h1><i class="fa fa-handshake-slash fa-fw text-danger"></i> Pedidos rechazados</h1>
    <hr />
    <div id="helpsection" class="collapse">
        <p class="text-justify">
            Aqu&iacute; se muestra la lista de pedidos rechazados y sus razones. Aqu&iacute; solo se puede leer la informaci&oacute;n del pedido pero no se puede modificar.
            <br />
            Cada pedido est&aacute; acompañado de un bloque de íconos que sirven para distintas acciones, cuya informaci&oacute;n se detalla a continuaci&oacute;n.
        </p>
        <fieldset>
            <legend>
                Leyenda
            </legend>
            <ul class="fa-ul">
                <li><span class="fa-li"><i class="fa fa-plus-circle text-primary"></i></span>&nbsp; Este bot&oacute;n permite agregar un nuevo pedido.</li>
                <li><span class="fa-li"><i class="fa fa-list text-info"></i></span>&nbsp; Este bot&oacute;n se usa para visualizar los detalles del pedido.</li>
            </ul>
        </fieldset>
    </div>
    <div class="btn-group btn-group-lg btn-block my-3">
        <a asp-action="Index" asp-controller="Home" class="btn btn-dark"><i class="fa fa-home fa-fw"></i><span class="d-none d-md-inline"> Inicio</span></a>
        <button type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#helpsection"><i class="fa fa-question-circle fa-fw"></i><span class="d-none d-md-inline"> Ayuda</span></button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formModal" data-title="<i class='fa fa-plus-circle fa-fw'></i> Nuevo pedido" data-url="@Url.Action("AddOrder","Order")"><i class="fa fa-plus-circle fa-fw"></i><span class="d-none d-md-inline"> Crear</span></button>
    </div>
    <div class="table-responsive">
        <table class="table table-borderless table-striped table-sm" cellpadding="0" cellspacing="0" style="min-width:900px;">
            <thead>
                <tr>
                    <th></th>
                    <th>No. de pedido</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Fecha Cancelaci&oacute;n</th>
                    <th>Motivo</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Orders order in Model)
                {
                    <tr>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#detailsModal" data-title="<i class='fa fa-list fa-fw'></i> Detalles del pedido" data-id="@order.OrderId" data-url="@Url.Action("DetailsOrder","Order")"><i class="fa fa-list fa-fw"></i></button>
                            </div>
                        </td>
                        <td class="font-weight-bolder"><h4 class="m-0">@order.OrderId.ToString().PadLeft(6, '0')</h4></td>
                        <td>@order.Customer.CustomerName @order.Customer.CustomerLastname</td>
                        <td>@order.OrderTotal.ToString("C2")</td>
                        <td>@order.OrderRejectedDate</td>
                        <td>@order.OrderRejectedReason</td>
                        <td class="font-weight-bold">@order.Status.StatusName</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_FormModalPartial" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}